@model Llama.Models.Avatar

<p>Your Llama Name is: @Model.Name </p>

<p>Llama's Body Color: @Model.BodyColor</p>
<p>Llama's Eye Color : @Model.EyesColor</p>
<p>Llama's Tail Color: @Model.TailColor</p>
<p>Llama's Ears Color: @Model.EarsColor</p>