@model IEnumerable<UserDto>

        @{
    ViewBag.Title = "Users";
        }

        <h2>Users</h2>


        <table class="table">
            <tr>
                <th>IdUser</th>
                <th>NickName</th>
                <th>UserName</th>
                <th>Password</th>
                <th>Age</th>
                <th>Gender</th>
                
            </tr>

            @foreach (var item in Model)
    {
            <tr>
                <td>
                    @item.IdUser
                </td>
                <td>
                    @item.NickName
                </td>
                <td>
                    @item.UserName
                </td>
                <td>
                    @item.Password
                </td>
                <td>
                    @item.Age
                </td>
                <td>
                    @if (item.Gender)
                    {
                        <span>Male</span>
                    }
                    else
                    {
                        <span>Female</span>
                    }
                </td>
            </tr>
    }

        </table>
